.header {
	pointer-events: all;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	transition: all 0.5s ease;
	background-color: #fff;
	/*position: fixed;*/
	z-index: 99;
}
.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 3;
}
.header__overlay.lock {
	position: fixed;
	top: 350px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 8;
	order: 2;
}
.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 99;
}
.header__menu {
	align-items: center;
	display: flex;
	height: 100%;
	z-index: 100;
}
.header__logo-img{
	position: relative;
	z-index: 4;
	width: 110px;
	height: 67px;
}
.header__list {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 4;
    padding: 20px;
    
}
.header__link {
	margin-right: 25px;
	position: relative;
	font-size: 18px;
	color: #363636;
	text-transform: uppercase;
	font-weight: 800;
	text-decoration: none;
}
.header__link::after {
	content: "";
	width: 0;
	height: 2px;
	background-color: #2b2a2c;
	position: absolute;
	bottom: -7px;
	left: 0;
	z-index: 1;
	transition: width .1s linear;
}
.header__link:hover:after {
	width: 100%;
}
.header__burger {
	display: none;
	cursor: pointer;
}
.header__link-btn {
	position: relative;
	z-index: 4;
	margin-left: 20px;
	border-radius: 25px;
	padding: 10px 25px;
	font-weight: 900;
	font-size: 16px;
	line-height: 20px;
	transition: all .4s;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: 2px solid #000000;
	color: rgb(0, 0, 0);
}
.header__link-btn:hover {
	background: #000000;
	transition: all 0.4s ease;
	color: rgb(255, 255, 255);
}
.header::after {
	content: "";
	width: 0;
	height: 2px;
	position: absolute;
	left: 0;
	z-index: 1;
	transition: width .1s linear;
	box-shadow: 0 5px 15px rgb(0, 0, 0);
}
.header.line:after {
	width: 100%;
}


.header__link.active:after {
	width: 100%;
	/*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.lang-li{
	display: flex;
	cursor: pointer;
}	

.header__lang{
	margin-left: 5px;	
	font-size: 18px;
	color: #363636;
	text-transform: uppercase;
	font-weight: 800;
	text-decoration: none;
	position: relative;
	padding: 5px;
}

.header__lang::after {
	content: "";
	width: 0;
	height: 2px;
	background-color: #2b2a2c;
	position: absolute;
	bottom: -7px;
	left: 0;
	z-index: 1;
	transition: width .1s linear;
}
.header__lang:hover:after{
	width: 100%;
	/*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.header__lang.select:after {
	width: 100%;
	/*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

@media (max-width: 877px) {
    .header__link:hover:after {
		width: 0;
		/*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
	}
    .header__link{
		margin-right: 0;
	}
	.header__link-btn {
		margin: 0;
		max-width: 300px;
		padding: 5px 25px;
		font-weight: 900;
		font-size: 16px;
		line-height: 20px;
	}
	/*--------- HEADER ----------*/
	.header {
		position: fixed;
		top: 0;
	}
	.header__list li {
		padding: 10px 10px;
	}
	.header__inner {
		height: 50px;
		justify-content: space-between;
	}
	.header__burger {
		display: flex;
		width: 30px;
		height: 20px;
		position: absolute;
		z-index: 4;
		right: 20px;
	}
	.header__burger span {
		background-color: #000000;
		position: absolute;
		width: 100%;
		height: 2px;
		top: 9px;
		left: 0;
		transition: all 0.3s ease 0s;
		cursor: pointer;
	}
	.header__burger:before, .header__burger:after {
		content: '';
		background-color: #000000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}
	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.header__link {
		color: rgb(0, 0, 0);
		font-size: 28px;
		font-weight: bolder;
		margin: auto 0px;
	}
	.header__menu {
		display: block;
		position: fixed;
		text-align: center;
		top: -100%;
		left: 0;
		width: 100%;
		height: 350px;
		background-color: #ffffff;
		z-index: 2;
		padding: 70px 10px 20px 10px;
		transition: all 0.3s ease 0s;
		box-shadow: 0px 0px 10px #9b9b9b7a;
	}
	.header__menu.active {
		top: 0;
	}
	.header__list {
		display: flex;
		flex-direction:column;
		align-items: center;	
		margin-bottom: 20px;
	}
}

@media (max-width: 340px) {
    .header__link {
		margin-right: 0;
		position: relative;
		font-size: 18px;
		color: #363636;
		text-transform: uppercase;
		font-weight: 800;
		/* text-decoration: none; */
	}
	.work__btn {
		margin: 10px;
		border-radius: 25px;
		padding: 5px 15px;
		font-weight: 900;
		font-size: 16px;
		line-height: 20px;
		transition: all .4s;
		border: 2px solid #000000;
		color: rgb(0, 0, 0);
		cursor: pointer;
		position: relative;
	}
}